/* Body */
body {
    background-color: #fff7a8; /* vàng sáng */
    font-size: 13pt;
}

/* Tiêu đề */
.title {
    text-align: center;
    color: red;
    font-weight: bold;
}

/* Đoạn văn "CSS là gì?" */
.css-definition {
    font-family: Verdana;
    color: green;
}

/* Danh sách có số thứ tự */
.number-list {
    font-family: Verdana;
    color: purple;
}

/* Danh sách dấu hoa thị */
.star-list {
    font-family: "Times New Roman";
    color: blue;
}